@use "variables.scss" as *;
footer {
  background-color: $main-grey;
  padding: 2rem;
  .footer-container {
    display: flex;
    flex-direction: column;
    position: relative;

    .data-contact {
      display: flex;
      justify-content: space-between;
      margin-bottom: 2rem;
    }
    .company-data {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 45%;
    }
    .contact-info {
      display: flex;
      flex-direction: column;
      width: 45%;
      .direct-contact {
        margin: 0 0 1rem 1.5rem;
        p {
          color: $orange;
        }
      }
      .social-media-icons {
        display: flex;
        align-items: center;
        gap: 3rem;
        margin: 0 1.5rem;
        a {
          color: white;
        }
        svg {
          cursor: pointer;
          width: 2.5rem;
          height: 2.5rem;
          transition: 0.3s;
          &:hover {
            scale: 1.2;
            letter-spacing: 0.15rem;
            color: $mint-green;
          }
        }
      }
      .site-map {
        display: flex;
        align-items: center;
        margin: 3rem 0 1rem 0;
        gap: 20px;
        a {
          text-align: center;
          font-size: 1.2rem;
          color: white;
          width: 110px;
          font-weight: 600;
          text-decoration: none;
          transition: 0.3s;
          &:hover {
            color: white;
            scale: 1.2;
            letter-spacing: 0.15rem;
            color: $mint-green;
          }
        }
      }
    }
    .credit {
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        color: $mint-green;
      }
    }
  }
  .arrow {
    position: absolute;
    right: -10%;
    top: 50%;
    cursor: pointer;
    width: 60px;
    height: 60px;
    transition: all 0.5s ease;
    animation: up 1s linear infinite;
    z-index: 10;
    @media (max-width: 1000px) {
      top: 5%;
      right: -3%;
    }
  }
}
.arrow:hover {
  scale: 1.1;
}
@keyframes up {
  from,
  to {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(15%);
  }
}
