@use "variables.scss" as *;
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;

  .links {
    display: flex;
    gap: 20px;
    a {
      text-align: center;
      color: white;
      width: 90px;
      font-weight: 600;
      text-decoration: none;
      transition: 0.3s;
      &:hover {
        color: $mint-green;
        scale: 1.2;
        letter-spacing: 0.15rem;
      }
    }
  }
}
