@use "variables.scss" as *;
.scroll-tape-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  border-top: 3px solid $mint-green;
  border-bottom: 3px solid $mint-green;
  padding: 10px 0;
  transform: rotate(-3deg);
  overflow-x: clip;
}

.scroll-tape {
  white-space: nowrap;
  display: inline-block;
  color: $mint-green;
  font-weight: 1000;
  will-change: transform;
  transition: transform 0.1s ease-out;
  text-align: center;
  span {
    font-size: 5rem;
    letter-spacing: 2rem;
    @media (max-width: 1000px) {
      font-size: 2rem;
      letter-spacing: 0.3rem;
    }
  }
}
