$main-grey: #202022;
$vibrant-purple: #61009e;
$hot-red: #ff005d;
$plasma-blue: #2d9cdb;
$primary-orange: #ff6b35;
$secondary-blue: #15265b;
$sunny-yellow: #facc15;
$cloud-white: #e6e6e6;
$sky-blue: #3abef9;
$mint-green: #34d399;
$bubblegum-pink: #fb7185;
