@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
body {
  background-color: hsl(0, 0%, 4%);
  color: white;
  font-family: "Sora", sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.fit-body {
  width: 80%;
  max-width: 1600px;
  margin: auto;
}

.main-heading {
  font-size: 3rem;
  font-weight: 1000;
  text-transform: uppercase;
  text-align: center;
}

@media (max-width: 1000px) {
  .fit-body {
    width: 90%;
  }
}