.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 1000;
  color: white;
  transition: 0.3s;
}
.logo img {
  width: 30px;
}
.logo span {
  color: #34d399;
}
.logo:hover {
  color: #34d399;
}