.talents {
  margin: 50px auto;
}
.talents .talents-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.talents .talents-container .talent-card {
  display: flex;
  perspective: 1000px;
  width: 350px;
  height: 350px;
}
@media (max-width: 1850px) {
  .talents .talents-container .talent-card {
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 1580px) {
  .talents .talents-container .talent-card {
    width: 250px;
    height: 250px;
  }
}
@media (max-width: 1325px) {
  .talents .talents-container .talent-card {
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 1080px) {
  .talents .talents-container .talent-card {
    width: 180px;
    height: 180px;
  }
}
@media (max-width: 870px) {
  .talents .talents-container .talent-card {
    width: 160px;
    height: 160px;
  }
}
@media (max-width: 780px) {
  .talents .talents-container .talent-card {
    width: 140px;
    height: 140px;
  }
}
.talents .talents-container .talent-card .card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.talents .talents-container .talent-card:hover .card-inner {
  transform: rotateY(180deg);
}
.talents .talents-container .talent-card .card-front,
.talents .talents-container .talent-card .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  backface-visibility: hidden;
  overflow: hidden;
  text-align: center;
}
.talents .talents-container .talent-card .card-front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}
.talents .talents-container .talent-card .card-front img:hover {
  filter: grayscale(0%);
}
.talents .talents-container .talent-card .card-back {
  background-color: #202022;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: rotateY(180deg);
  font-size: 0.75rem;
}