nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}
nav .links {
  display: flex;
  gap: 20px;
}
nav .links a {
  text-align: center;
  color: white;
  width: 90px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
}
nav .links a:hover {
  color: #34d399;
  scale: 1.2;
  letter-spacing: 0.15rem;
}