.scroll-tape-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  border-top: 3px solid #aa00ff;
  border-bottom: 3px solid #aa00ff;
  padding: 10px 0;
  transform: rotate(-3deg);
  overflow-x: clip;
}

.scroll-tape {
  white-space: nowrap;
  display: inline-block;
  color: #aa00ff;
  font-weight: 1000;
  will-change: transform;
  transition: transform 0.1s ease-out;
  text-align: center;
}
.scroll-tape span {
  font-size: 5rem;
  letter-spacing: 0.5rem;
}
@media (max-width: 1000px) {
  .scroll-tape span {
    font-size: 2rem;
    letter-spacing: 0.1rem;
  }
}