.services .services-intro {
  font-size: 1.5rem;
  text-align: center;
}
@media (max-width: 550px) {
  .services .services-intro {
    font-size: 1rem;
  }
}
.services .services-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin: 50px 0;
}
.services .service-card {
  position: relative;
  padding: 0.2rem;
  border-radius: 12px;
  text-align: center;
  background-color: #202022;
  width: 270px;
  height: 320px;
  overflow: hidden;
  z-index: 0;
}
.services .service-card .service-data {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 270px;
  height: 320px;
  background-color: #202022;
  padding: 1rem;
  box-sizing: border-box;
}
.services .service-card img {
  width: 80px;
}
.services .service-card:hover img {
  animation: wiggle 0.6s ease;
}
.services .service-card::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  border-radius: 14px;
  background: conic-gradient(from 0deg, transparent, #34d399, transparent 30%, #34d399, transparent 60%, #34d399, transparent 90%, #34d399, transparent);
  animation: moveGlow 10s linear infinite;
  filter: blur(10px);
  z-index: -1;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
    scale: 1.1;
  }
  50% {
    transform: rotate(-5deg);
    scale: 1.2;
  }
  75% {
    transform: rotate(5deg);
    scale: 1.1;
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes moveGlow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}